<div>
    <h2> Edit Resort</h2>
</div>

<div class="user-signup">

<form action="/resort/{{resort._id}}?_method=PUT" method="POST">
<div>
    <label for="name">Resort Name</label>
    <input type="text" name="name" value={{resort.name}} />
</div>
<div>
    <label for="location">Resort Location</label>
    <input type="text" name="location" value={{resort.location}} />
</div>
<br >
<button class="btn btn-custom btn-sm" type="submit">Update</button>
</form>

<a href="/" class="btn btn-custom btn-sm"> Home </a>

</div>