<div>
    <h2> Edit Resort</h2>
</div>

<form action="/resort/{{resort._id}}?_method=PUT" method="POST">
<div>
    <label for="name">Resort Name</label>
    <input type="text" name="name" value={{resort.name}} />
</div>
<div>
    <label for="location">Resort Location</label>
    <input type="text" name="location" value={{resort.location}} />
</div>

<button class="btn btn-primary" type="submit">Update</button>
</form>