<div>
    <h2> Our Resorts </h2>
</div>
<div class="user-signup">
<ul>
{{#each resorts}}
<li>
    <a href="/resort/{{_id}}">
    <p>{{name}}</p>
    <p>{{location}}</p>
    </a>
</li>
{{/each}}
</ul>

</div>