
 <div>
    <h2>Pick Resort</h2>
  </div>

<div class="user-signup">
  <form action="/resort?userid={{userid}}" method="POST">
    <div>
      <label for="name">Resort Name</label>
      <input type="text" name="name"/>
    </div>
    <div>
      <label for="location">Resort Location</label>
      <input type="text" name="location"/>
    </div>
<br >
    <button class="btn btn-custom btn-sm" type="submit">Add Resort</button>
  </form>
  
  {{!-- <a href="/" class="btn btn-custom btn-sm"> Home </a> --}}

  </div>