<section class="section-form" id="resort">
  <div>
    <h2>Pick Resort</h2>
  </div>


  <form action="/resort" method="POST">
    <div>
      <label for="name">Enter Resort Name</label>
      <input type="text" name="name" placeholder="Enter Resort Name" />
    </div>
    <div>
      <label for="location">Enter Resort Location</label>
      <input type="text" name="location" placeholder="Enter Resort Location" />
    </div>

    <button class="btn btn-primary" type="submit">Add Resort</button>
  </form>