<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Activities</title>
</head>

<header>
    <nav>
        <div class="row">
            <ul class="main-nav">
                <li>
                    <a href="/user/new">Sign Up</a>
                </li>
                <li>
                    <a href="/resort/new">Book Now</a>
                </li>
                <li>
                    <a href="/resort">Our Resorts</a>
                </li>
            </ul>

        </div>
    </nav>
    <div class="large-text-box">
        <h1>Welcome to Our Resorts!
            <br> Sign Up and Book a Fun Activity!
        </h1>
    </div>
</header>