<div>
    <h2>Sign UP </h2>
</div>


<form action="/user" method="POST">
    <div>
        <label for="username">Enter Name</label>
        <input type="text" name="username" placeholder="Enter Name" />
    </div>
    <div>
        <label for="useremail">Enter Email</label>
        <input type="text" name="useremail" placeholder="Enter Email" />
    </div>
    <div>
        <label for="signupmessage"> How Did You Find Us?</label>
        <textarea name="signupmessage"></textarea>
    </div>
    <div>

    <button type="submit">Add User</button>
</form>
