<div>
    <h2>Sign UP </h2>
</div>

<div class="user-signup">

    <form action="/user" method="POST">
        <div>
            <label for="username">Enter Name</label>
            <input type="text" name="username" />
        </div>
        <div>
            <label for="email">Enter Email</label>
            <input type="text" name="email" />
        </div>
        <div>
            <label for="signupmessage"> How Did You Find Us?</label>
            <br>
            <textarea name="signupmessage"></textarea>
        </div>
        <div>
            <br>

            <button class="btn btn-custom btn-sm" type="submit">Add User</button>
    </form>

    <a href="/" class="btn btn-custom btn-sm"> Home </a>

    </div>