<section class="section-form" id="resort">
<div>
<h2> Your Reservation </h2>
</div>

<div class = "user-signup">
{{#each activities}}
    <p>Name: {{name}}</p>
    <p>Activity: {{activityType}}</p>
    <p>Date: {{date}}</p>
    <p>Time: {{time}}</p>
{{/each}}

<a href="/" class="btn btn-primary"> Home </a>
</div>

